body{
    height: 1500px;
}

.leftBar{
    background-color: #000000;
    width: 300px;
    height: 1300px;
}

.topBar{
    background: #101010;
    width: 1200px;
    height: 80px;
    position: absolute;
    top:8px;
    left:308px;
}

.topBar span{
    font-size: 40px;
    color: white;
}

.topBar .material-icons{
    color: white;
    margin-top: 15px;
    margin-left: 10px;
}

.topBar .signUp{
    color: lightgrey;
    margin-top: -30px;
    font-size: 19px;
    margin-left: 940px;
}

.topBar .logIn{
    background-color: white;
    position: absolute;
    top: 14px;
    margin-left: 1040px;
    width: 122px;
    height: 52px;
    border-radius: 25px;
}
.mainPart{
    position: absolute;
    top: 80px;
    left: 0px;
    width: 1200px;
    height: 1220px;
    background-color: #1C1C1C;
}
.mainPart .focus{
    font-weight: 750;
    position: absolute;
    left: 45px;
    top: 7px;
    color: white;
}

.mainPart .playList{
    font-weight: 750;
    position: absolute;
    left: 45px;
    top: 450px;
    color: white;
}

.musicList{
    width: 70px;
    height: 340px;
    position: absolute;
    top: 230px;
    left: 400px;
    display: flex;
}

.firstMusic{
    width: 170px;
    height: 620x;
    position: relative;
}

.first{
    border: 1px solid black;
    width: 170px;
    height: 260px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.first h3{
    color: white;
    width: 200px;
    position: absolute;
    margin-top: 5px;
}
.first p{
    color: white;
    width: 240px;
    position: absolute;
    margin-top: 30px;
}

.second{
    position: absolute;
    margin-left: 220px;
    border: 1px solid black;
    width: 170px;
    height: 260px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.secondMusic{
    width: 170px;
    height: 620x;
    position: relative;
}

.second h3{
    color: white;
    width: 200px;
    position: absolute;
    margin-top: 5px;
}
.second p{
    color: white;
    width: 240px;
    position: absolute;
    margin-top: 30px;
}

.third{
    position: absolute;
    margin-left: 440px;
    border: 1px solid black;
    width: 170px;
    height: 260px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}
.thirdMusic{
    width: 170px;
    height: 620x;
    position: relative;
}

.third h3{
    color: white;
    width: 200px;
    position: absolute;
    margin-top: 5px;
}
.third p{
    color: white;
    width: 240px;
    position: absolute;
    margin-top: 30px;
}

.fourth{
    position: absolute;
    margin-left: 660px;
    border: 1px solid black;
    width: 170px;
    height: 260px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.fourthMusic{
    width: 170px;
    height: 620x;
    position: relative;
}
.fourth h3{
    color: white;
    width: 200px;
    position: absolute;
    margin-top: 5px;
}
.fourth p{
    color: white;
    width: 240px;
    position: absolute;
    margin-top: 30px;
}
.fifth{
    position: absolute;
    margin-left: 880px;
    border: 1px solid black;
    width: 170px;
    height: 260px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.fifthMusic{
    width: 170px;
    height: 620x;
    position: relative;
}
.fifth h3{
    color: white;
    width: 200px;
    position: absolute;
    margin-top: 5px;
}
.fifth p{
    color: white;
    width: 240px;
    position: absolute;
    margin-top: 30px;
}

.sixth{
    position: absolute;
    margin-top: -700px;
    margin-left: 390px;
    border: 1px solid black;
    width: 170px;
    height: 260px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.sixthMusic{
    width: 170px;
    height: 620x;
    position: relative;
}
.sixth h3{
    color: white;
    width: 200px;
    position: absolute;
    margin-top: 5px;
}
.sixth p{
    color: white;
    width: 240px;
    position: absolute;
    margin-top: 30px;
}

.seventh{
    position: absolute;
    margin-top: -700px;
    margin-left: 612px;
    border: 1px solid black;
    width: 170px;
    height: 260px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.seventhMusic{
    width: 170px;
    height: 620x;
    position: relative;
}
.seventh h3{
    color: white;
    width: 200px;
    position: absolute;
    margin-top: 5px;
}
.seventh p{
    color: white;
    width: 240px;
    position: absolute;
    margin-top: 30px;
    font-weight: 400;
}

.eighth{
    position: absolute;
    margin-top: -700px;
    margin-left: 832px;
    border: 1px solid black;
    width: 170px;
    height: 260px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.eighthMusic{
    width: 170px;
    height: 620x;
    position: relative;
}
.eighth h3{
    color: white;
    width: 200px;
    position: absolute;
    margin-top: 5px;
}
.eighth p{
    color: white;
    width: 240px;
    position: absolute;
    margin-top: 30px;
    font-weight: 400;
}
.nineth{
    position: absolute;
    margin-top: -700px;
    margin-left: 1050px;
    border: 1px solid black;
    width: 170px;
    height: 260px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.ninethMusic{
    width: 170px;
    height: 620x;
    position: relative;
}
.nineth h3{
    color: white;
    width: 200px;
    position: absolute;
    margin-top: 5px;
}
.nineth p{
    color: white;
    width: 240px;
    position: absolute;
    margin-top: 30px;
    font-weight: 400;
}

.tenth{
    position: absolute;
    margin-top: -700px;
    margin-left: 1272px;
    border: 1px solid black;
    width: 170px;
    height: 260px;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 5px;
}

.tenthMusic{
    width: 170px;
    height: 620x;
    position: relative;
}
.tenth h3{
    color: white;
    width: 200px;
    position: absolute;
    margin-top: 5px;
}
.tenth p{
    color: white;
    width: 240px;
    position: absolute;
    margin-top: 30px;
    font-weight: 400;
}

.img2_1{
    width: 45px;
    height: 36px;
    margin-left: 10px;
}
.leftHome span{
    color: white;
    position: absolute;
    margin-left: 12px;
    margin-top: 12px;
}
.img2_2{
    width: 45px;
    height: 36px;
    margin-left: 10px;
    margin-top: 20px;
}
.leftSearch span{
    color: white;
    position: absolute;
    margin-left: 12px;
    margin-top: 30px;
    color: white;
}
.img2_3{
    width: 45px;
    height: 36px;
    margin-left: 10px;
    margin-top: 20px;
}
.leftLib span{
    color: white;
    position: absolute;
    margin-left: 12px;
    margin-top: 31px;
    color: white;
}
.img2_4{
    width: 45px;
    height: 36px;
    margin-left: 10px;
    margin-top: 50px;
}
.leftPlay span{
    color: white;
    position: absolute;
    margin-left: 12px;
    margin-top: 60px;
    color: white;
}
.img2_5{
    width: 45px;
    height: 36px;
    margin-left: 10px;
    margin-top: 12px;
}
.leftSongs span{
    color: white;
    position: absolute;
    margin-left: 12px;
    margin-top: 24px;
    color: white;
}

.signUpLogo{
    margin-left: 650px;
    width: 180px;
    height: 90px;
}

.start .listen{
    margin-left: 670px;
    line-height: 0.7;
    font-weight: 900;
}
.start .freeSign{
    margin-left: 570px;
    line-height: 0.7;
    font-weight: 900;
}

.fb{
    color: white;
    background-color: royalblue;
    margin-left: 570px;
    width: 340px;
    height: 40px;
    border-radius: 15px;
    position: relative;
}

.fbLogo{
    width: 25px;
    height: 25px;
    position: absolute;
    left: 60px;
    margin-top: -5px;
    background-color: white;
    border-radius: 50px;
}

.goog{
    color: black;
    margin-left: 570px;
    margin-top: 30px;
    width: 340px;
    height: 40px;
    border-radius: 15px;
    background-color: white;
    position: relative;
}

.googLogo{
    width: 25px;
    height: 25px;
    position: absolute;
    left: 60px;
    margin-top: -5px;
    border-radius: 50px;
}

.line1{
    width:200px;
    height: 1.5px;
    background-color: lightgrey;
    margin-top: 50px;
    margin-left: 500px;
}
.line2{
    width:200px;
    height: 1.5px;
    background-color: lightgrey;
    margin-top: -2px;
    margin-left: 790px;
}

.controlOr{
    margin-top:50px;
    position: relative;
}
.controlOr .or{
    font-size: 25px;
    margin-left: 730px;
    margin-top: -16px;
    position: absolute;
}

.infos h2{
    margin-left: 620px;
    font-size: 18px;
    margin-top:30px;
}

.q1 h3{
    margin-left: 540px;
    font-size: 16px;
    margin-top: 20px;
}
.q1 .emailTxt{
    margin-left: 540px;
    width: 380px;
    height: 40px;
    border-radius: 4px;
}

.q1 .emailAgain{
    margin-left: 540px;
    width: 380px;
    height: 40px;
    border-radius: 4px;
}

.q1 .pwTxt{
    margin-left: 540px;
    width: 380px;
    height: 40px;
    border-radius: 4px;
}
.q1 .nameTxt{
    margin-left: 540px;
    width: 380px;
    height: 40px;
    border-radius: 4px;
}
.year{
    margin-left: 540px;
}
.yearInp{
    width: 110px;
    height: 40px;
}

.month{
    margin-left: 680px;
    margin-top: -95px;
}

#month{
    width: 110px;
    height: 45px;
}

.day{
    margin-left: 820px;
    margin-top: -95px;
}
.dayInp{
    width: 100px;
    height: 40px;
}
.gender{
    margin-left: 0;
    margin-top: 80px;
}
.radios{
    margin-left: 535px;
}